body {
  font-size: 18px;
  color: #39626F;
  background: #E9ECEF;
}
#text {
  min-height: 150px;
}

#text::before {
  content: "\"";
  font-size: 24px;
}

#text::after {
  content: "\"";
  font-size: 24px;
}

#author {
  font-weight: bold;
}

#author::before {
  content: "- ";
  font-size: 24px;
}

#new-quote {
  margin-bottom: 15px;
}

.btn {
  min-width: 150px;
}

.example-enter, .example-appear {
  opacity: 0.01;
}

.example-enter.example-enter-active, .example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@media (min-width: 768px) {
  #text {
    min-height: 100px;
  }

  #new-quote {
    margin-bottom: 0;
  }
}